<div class="input-group mb-3 w-50 mx-auto d-flex justify-content-center" style="padding-top: 90px;">
  <%= form_with url: "/search", method: :get, class: "d-flex" do |form| %>
    <input type="text" class="form-control" id="city" name="city" placeholder="Search for a city" aria-label="Search" aria-describedby="search-addon">
    <button class="btn btn-primary" type="submit" id="search-addon">Search</button>
  <% end %>
</div>

<div>
    <%= image_tag(asset_path('map-local-search.jpg')) %>
</div>